:host {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.text {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 5px;
    padding: 0.5rem;
}

.left {
    align-self: flex-start;
    border-radius: 0 10px 10px 10px;
    background-color: darkslategrey;
}

.right {
    align-self: flex-end;
    border-radius: 10px 0 10px 10px;
    background-color: cadetblue;
}
