:host {
    box-sizing: border-box;
    display: flex;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
